/* src/app/page.module.css */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light-blue);
  height: 100vh;
  text-align: center;
}

textarea {
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

button {
  background-color: var(--light-blue);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #2862b9;
}

p {
  font-family: 'Roboto', sans-serif; /* Ensure Roboto font is applied */
}
