/* Grid layout for the main content */
.main {
  display: grid;
  grid-template-rows: 30rem auto; /* Title on top, content in the middle, and footer at the bottom */
  height: 100vh; /* Full viewport height */
  padding: 5rem; /* Padding around the content */
  gap: 1rem; /* Space between rows */
  
}

/* Title styles */
.header {
  text-align: center;
  font-size: 1.5rem;;
}


/* Form container styles */
.formContainer {
  color: white;
  display: flex;
  flex-direction:column;
  align-items: center; /* Center horizontally */
  gap: 1rem; /* Space between rows */
  width: 100%;
}

/* Textarea styles */
.textarea {
  margin-left: 9%;
  width: 600px; /* Full width */
  height: 150px; /* Adjust height as needed */
  padding: 0.5rem; /* Padding inside the textarea */
  font-size: 1rem; /* Adjust font size as needed */
}

/* Button styles */
.button {
  margin-left: 40%;
  margin-top: 1rem; /* Space above the button */
  padding: 0.5rem 1rem; /* Padding inside the button */
  font-size: 1rem; /* Adjust font size as needed */
  cursor: pointer; /* Change cursor on hover */

}

.messageBox {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid;
  color: #fff;
  max-width: 600px;
  width: 100%;
  text-align: center; /* Center the text */
}

/* Spam message style */
.messageBox.spam {
  background-color: #ec7063 ; /* Red background */
  border-color: #ec7063 ; /* Darker red border */
}

/* Ham message style */
.messageBox.ham {
  background-color: #52be80  ; /* Green background */
  border-color: #52be80 ; /* Darker green border */
}

/* Spinner container */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1); /* Light border */
  border-left: 4px solid #3498db; /* Color of the spinner */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem; /* Space between spinner and text */
}

.button:disabled {
  margin-left: 40%;
  margin-top: 1rem; /* Space above the button */
  padding: 0.5rem 1.2rem; /* Padding inside the button */
  cursor: not-allowed;
  opacity: 0.6;}

/* Keyframes for spinning animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Container for result text and info icon */
.resultContainer {
  position: relative;
  display: inline-block;
  cursor: pointer; /* Change cursor to pointer */
}

/* Info box */
.infoBox {
  font-size: small;
  visibility: hidden;
  width: 300px; /* Adjust width as needed */
  background-color: #000000;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 10px; /* Adjust padding as needed */
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position above the result */
  left: 50%;
  margin-left: -150px; /* Center the info box */
  opacity: 0;
  transition: opacity 0.3s;
  white-space: pre-wrap; /* Preserve spaces and line breaks */
}

/* Show info box when hovering over the result container */
.resultContainer:hover .infoBox {
  visibility: visible;
  opacity: 1;
}


/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}




