/* Global styles */
:root {
  --light-blue: #2862b9;
  --button-bg: #ccd8e7;
  --border-radius: 20px;
}

/* Specific styles for the page */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--light-blue);
  font-family: 'Mitr', sans-serif;
}

textarea {
  background-color: white;
  border-radius: var(--border-radius);
  border: 1px solid #ccc;
  padding: 10px;
}

button {
  background-color: var(--light-blue);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}
